* {
    border-box
    box-sizing: ;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .carrousel_parent-ecrans {
      display: flex;
      width: 100%;
      overflow-x: scroll; /* permet de scroller horizontalement */
      scroll-behavior: smooth; /* animation de défilement */
    }
    .carrousel_ecran {
      width: 100%;
      flex: none;
    }
    .carrousel_ecran figure {
      margin: 0;
    }